#wpbody-content{

    border:0px solid #000;
    width:98%;
 }

.plugin-admin-wrap{

    width:auto;
    margin:1rem auto;

    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
 }

.plugin-admin-wrap .plugin-icon-preview{
  height:16pt;
  position:relative;
  top:4pt;
}

.plugin-admin-wrap .plugin-page-title,
.plugin-admin-wrap .plugin-page-subtitle,
.plugin-admin-wrap .plugin-page-title *,
.plugin-admin-wrap .plugin-page-subtitle *
{
 display:inline-block;
}

.item-list{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  flex-wrap: wrap;
}
.item{
  width: 100pt;
  height: 100pt;
  border: 0px solid #0f0;
  text-align: center;
  border-radius:0pt;
  box-shadow:0 1pt 2pt #ddd;
  margin:4pt;
  padding:0;
  display: flex;
  background-color:#eef8ff;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.item:hover{
box-shadow:0 0pt 4pt #aaa;
}
.item > a{
  text-decoration:none;
  width:100%;
  height:100%;
  padding:5pt;
  margin:0;
  border:0px solid #f00;
  text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.item .icon{
  height:60pt;
}


/* ajax progress bar */
.progress-bar-container{
  position:relative;
  top: -11px;

}
.progress-bar-container .progress-bar{
  border:0px solid #0f0;
  height: 3pt;

}
.progress-bar-container .progress-bar .progress{
  height:100%;
  width:0%;
  box-shadow:0 1pt 1pt #9cf;
  background-color: #46f;

}
.progress-bar-container .progress-bar .progress.not-started-progress{
  display:none;
}
.progress-bar-container .progress-bar .progress.failed-progress{
  box-shadow:0 1pt 1pt #fc9;
  background-color: #f64;  
}
.the-hr{
  padding:0pt;
  margin-bottom:10px;
  /*border-top:0;*/
  border-left:0;
  border-bottom:0;
  border-right:0;
  box-sizing: border-box;
}

.type-info{
  border-left: 4pt #68f solid;
  background-color: #def;
}
.type-error{
  border-left: 4pt #f86 solid;
  background-color: #fed;
}
.type-success{
  border-left: 4pt #2d2 solid;
  background-color: #dfd;

}

.loading01{
  height:18px;
  position: relative;
  top: 4px;
  margin-left: 8px;
}
.done01{
  height:18px;
  position: relative;
  top: 4px;
  margin-left: 8px;
}
.badge{
  border-radius:4pt;
  padding:2pt 4pt;
  margin: 2pt 4pt;
}
.badge-info{
  color: #eef0ff;
  background-color: #69f;
}
.icon01{
  display:inline-block;
  margin:0px 6px;
}
.icon01, .icon01 img{
  height: 24px;
  position:relative;
  top: 2px;
}
