
/* begrepp cards */
.nrb_tags-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px !important;
}

.nrb_tags-header h2{
    margin-bottom: 0px !important;
}
.nrb_search{
    padding: 10px 20px;
    background: #f5f7fa;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.nrb_search input{
    background: transparent;
    border: 0;
    color: #88a3c4;
    width: 200px;
    font-size: 14px;
    font-family: Roboto;

}
.tag {
    margin: 2px;
}
.nrb_search input::placeholder {
    color: #88a3c4;
    font-size: 14px;
    font-family: Roboto;
}
.nrb_search svg{
    margin-right: 8px;
}

.begrepp-tags-container {
    margin-top: 20px;
    height: 36px;
}

.begrepp-wrapper .arrow {
    cursor: pointer;
}

.begrepp-wrapper {
    background: #F5F7FA;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px !important;
    position: relative;
}

.begrepp-wrapper .arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 20px;
    top: 50%;
    margin-top: -12px;
}

.begrepp-wrapper .arrow i {
    width: 24px;
    height: 24px;
    text-align: center;
    color: #1D5294;
}

.begrepp-wrapper h2 {
    color: #1D5294;
    margin-bottom: 6px !important;
}

.begrepp-wrapper h5 {
    color: #828290;
    margin-bottom: 10px;
}

.begrepp-wrapper .tag {
    padding: 4px 16px;
    background: #CFF4DE;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 6px;
    color: #27AE60;
}

.begrepp-wrapper p {
    margin-bottom: 11px;
    padding-bottom: 0;
}

.begrepp-inner-wrapper {
    max-width: 720px;
    position: relative;
}

.begrepp-inner-wrapper ul {
    margin: 0px !important;
}

.begrepp-inner-wrapper ul li {
    list-style: none !important;
    padding-right: 40px;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    .nrb_tags-header {
        justify-content: start;
        align-items: initial;
        flex-direction: column;
    }
    
    .nrb_tags-header .nrb_search {
        margin-top: 16px;
    }
}
